{% extends "poll/base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static '/poll/login.css' %}">
{% endblock %}

{% block msgs %}
    {% if messages %}
    <div class="ui message">
        <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="lgn-container">
  <div class="lgn-wrapper">
    <h2 class="sign-in-h2">Sign In</h2>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}


    <div class="socialaccount_ballot">
      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <div class="ui grid">
      <div class="six wide column">
        <form class="login ui form" method="POST" action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.as_p }}
      
          <a class="button secondaryAction forgot-password" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
        
          <button class="lgn-btn" type="submit">{% trans "Sign In" %}
            <i class="fas fa-sign-in-alt"></i>
          </button>
        </form>
      </div>
    </div>
    <a href="{% url 'account_signup' %}" class="goto-signup">Create a free account now</a>
  </div>
</div>

{% endblock %}


