{% extends "poll/semantic.html" %}




{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}



{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}

<div style="margin-left: 30%"> 

<div class="socialaccount_ballot">

    {% include "socialaccount/snippets/provider_list.html" with process="login" %}

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<div class="ui grid">
  <div class="six wide column">
    <form class="login ui form" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
   
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a><br>
      <p class="text-mute" style=" color: #aaa;">Not a member? <a href="{% url 'account_signup' %}" >Sign up</a></p>
    
      <button class="btnn btn-login" type="submit">{% trans "Sign In" %}</button>
    </form>
    </form>
  </div>
</div>
</div>

{% endblock %}


