{% extends "poll/base.html" %}

{% load i18n %}
{% load static %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static '/poll/login.css' %}">
{% endblock %}

{% block content %}
<div class="lgn-container">
    <div class="lgn-wrapper">
        <div class="ui grid">
            <div class="ten wide column">
                <h2 class="sign-in-h2">{% trans "Set Password" %}</h2>

                <form class="ui form" method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="lgn-btn" type="submit">{% trans "Set Password" %}
                        <i class="fa-solid fa-key"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}



   
