{% extends "poll/base.html" %}
{% load static %}
{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static '/poll/login.css' %}">
{% endblock %}

{% block msgs %}
<div class="message">
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <ul>
        <li class="pswd-mail-snt" >{% blocktrans %}We have sent you an e-mail. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}</li> 
    </ul>
</div>
{% endblock %}
{% block content %}
<div class="lgn-container">
    <div class="lgn-wrapper">
        <h2 class="sign-in-h2">{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p class="para">{% trans "Didn't ceceive the link? Don't worry<br> We'll Resend it." %}</p>
        <div class="ui grid">
            <div class="ten wide column">
                <form class="ui form" method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="lgn-btn" type="submit">{% trans 'Resend Mail' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

