{% extends "poll/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static '/poll/login.css' %}">
{% endblock %}
{% block content %}
<div class="lgn-container">
    <div class="lgn-wrapper">
        <div class="ui grid">
            <div class="ten wide column">
                <h2 class="sign-in-h2">{% trans "Change Password" %}</h2>

                <form class="ui form" method="POST" action="{% url 'account_change_password' %}" class="password_change">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <p></p>
                    <button class="lgn-btn" type="submit" name="action">{% trans "Change Password" %}
                        <i class="fa-solid fa-key"></i>
                    </button>
                    <a href="{% url 'account_reset_password' %}" style="display: block; text-align: center;">{% trans "Forgot Password?" %}</a>
                </form>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}

