{% extends "poll/semantic.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div style="margin-left: 30%;">

<h3>{% trans "Sign Up" %}</h3>

{% include "socialaccount/snippets/provider_list.html" %}


{% include "socialaccount/snippets/login_extra.html" %}

<div class="ui grid">
  <div class="six wide column">
    <form class="signup ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <p style="color: #aaa;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

      <button class="btnn btn-login" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>
  </div>
</div>
</div>

{% endblock %}
