{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GetPoll{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'poll/base.css' %}">
    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block scripts %}
    {% endblock scripts %}
</head>
<body>


  

      {% include 'poll/navbar.html' %}


      

      <div class="ui segment">
        
        {% if messages %}

        {% for message in messages %}
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
  
        
        {% endif %}

          {% block content %}
          {% endblock %}
      </div>
    

    {% block footer %}
    <footer>
        <div class="footer-left">
            <b>Follow Us :</b>
            <ul class="social-links-wrapper">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
            </ul>
        </div>
        <p class="creators">Made with <i class="fas fa-heart"></i> by Vishal | Yogesh | Ajit</p>
    </footer>
    {% endblock %}

</body>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</html>