{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}GetPoll{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static '/poll/favicon.ico' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Varela+Round&display=swap" rel="stylesheet"> 

    <link rel="stylesheet" href="{% static '/poll/base.css' %}">

   
    {% block css %}
    {% endblock %}
    {% block scripts %}
    {% endblock scripts %}
</head>
<body>


  
      {% block header %}
        {% include 'poll/navbar.html' %}
      {% endblock %}
      {% block msgs %}
        {% if messages %}
        <div class="ui message">
          <ul>
            {% for message in messages %}
            <li class="pswd-mail-snt">{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endblock %}
      {% block content %}
      {% endblock %}
    {% block footer %}
    <footer>   
        
        <div class="social-links-wrapper">
            <i class="socio fab fa-github"></i>
            <i class="socio fab fa-facebook-f"></i>
            <i class="socio fab fa-instagram"></i>
            <i class="socio fab fa-twitter"></i>
      </div>
      <div>
        &copy; copyright | 2022
      </div>
      <div lass="creators">Made with <i class="fas fa-heart"></i> by Vishal | Yogesh | Ajit</div>
    </footer>
    {% endblock %}


<script>
  const nav_menu = document.querySelector('.nav-menu')
  const profile_menu = document.querySelector('.profile-dashboard-menu')
  nav_menu.addEventListener('mouseenter', ()=>{
    profile_menu.style.display = 'block';
  })
  nav_menu.addEventListener('mouseleave', ()=>{
    profile_menu.style.display = 'none';
  })
</script>
{% block internal_js %}
{% endblock %}
</body>
</html>