<footer style="display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      background-color: #D8E3E7;
      padding: 0 100px;">
    <div style="display: flex;
          justify-content: space-between;
          align-items: center;
          width: 250px;
          font-weight: bold;">
        <i class="socio fab fa-github"></i>
        <i class="socio fab fa-facebook-f"></i>
        <i class="socio fab fa-instagram"></i>
        <i class="socio fab fa-twitter"></i>
    </div>
    <div>
        &copy; copyright | 2022
    </div>
    <div lass="creators">Made with <i class="fas fa-heart"></i> by Vishal | Yogesh | Ajit</div>
</footer>