{% extends "poll/base.html" %}
{% load static %}

{% block scripts %}

{% endblock scripts %}

{% block title %}
home
{% endblock title %}



{% block content %}



    
<section class="upper-content">
    <p class="tagline"><a href="{% url 'create' %}">Create</a> Instant Polls <br> At Your Finger Clicks!</p>
</section>
 

<h1 style="text-align: center; margin-bottom: 20px;">LIVE POLLS</h1>
{% for poll in object_list %}


    <div class="card" style="z-index: 0;">
      <div class="card-body">
        <a class="question" href="{% url 'poll-detail' poll.id %}">{{poll.question}}</a>

        
        <div class="result-vote">
          {% if poll.is_eligible or poll.user == user %}
          <a class="result" href="{% url 'result' poll.id%}">result</a>
          {% endif %}
          <a class="vote" href="{% url 'poll-detail' poll.id%}">vote</a>
        </div>
      </div>
    </div>

    
    <br>
{% endfor %}

<section class="middle-content">
  <p class="p1">Know you audience opinions,<br>in the <span>real time.</span><br>
  <span class="p2">Designed to be pixel perfect and maximise interactions and results</span>
  </p>
  
  <i class="fas fa-poll"></i>
</section>



{% endblock content %}

