{% extends "poll/base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static '/poll/js/main.js' %}" defer></script> 

{% endblock scripts %}

{% block title %}
home
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/poll/dash.css' %}">
{% endblock %}

{% block content %}



    
<section class="upper-content">
    <p class="tagline"><a href="{% url 'create' %}">Create</a> Instant Polls <br> At Your Finger Clicks!</p>
</section>
 


<h1>&nbsp;&nbsp;&nbsp;LIVE POLLS</h1>


<div class="items-body">

  {% for poll in object_list %}

          <div class="items-body-content" >
            <span><a href="{% url 'poll-detail' poll.id%}" style="text-decoration: none;">{{poll.question}}</a></span>
            
              <div class="align-items-end">
                  {% if poll.user == user %}
                  <a class="btn btn-success" href="{% url 'result' poll.id%}">result</a>
                  {% endif %}
                </div>
          </div>
  {% endfor %}
  </div>




<section class="middle-content">
  <p class="p1">Know you audience opinions,<br>in the <span>real time.</span><br>
  <span class="p2">Designed to be pixel perfect and maximise interactions and results</span>
  </p>
  
  <i class="fas fa-poll"></i>
</section>



{% endblock content %}
