{% extends 'poll/base.html' %}
{% load static %}

{% block title %} 
poll detail
{% endblock title %}

{% block scripts %}
    <script src="{% static '/poll/js/update.js' %}" defer></script> 
{% endblock scripts %}

{% block css %}
 <link rel="stylesheet" href="{% static '/poll/login.css' %}">
 <link rel="stylesheet" href="{% static '/poll/update.css' %}">
 {% endblock %}



{% block content %}
<div class="lgn-container">
  <div class="lgn-wrapper">

        <h2 class="sign-in-h2">Update Poll</h2>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container">
        <div class="form-group col-md-6 " >
            <label id="question"> Question </label>
            <input type="text" required class="form-control"  name="question" value="{{poll.question}}">
        </div>
    
    
        <div class="row mt-4">
            
            {% if optionList %}
            <div class="form-group col-md-5">
                <label >Option</label>
                <input type="text" required class="form-control"  name="options" value="{{first.text}}">
            </div>
            {% else %}
            <div class="form-group col-md-5">
                <label >Image</label>
                <input type="file" style="height: 26px; padding:0px" required class="form-control"  name="images" accept="image/*">
            </div>
            {% endif %}
        </div>
    
    
        <div class="row mt-4">
            
            {% if optionList %}
                <div class="form-group col-md-5">
                    <label >Option</label>
                    <input type="text" required class="form-control"  name="options" value="{{second.text}}">
                </div>
        
                <div class="form-group col-md-3 ">
                    <button type="button" style="width:188px;height:50px;" onclick="addOption()" class="lgn-btn" >Add options
                    <i class="fa fa-plus"></i>
                </button>
                </div>
            {% else %}
                <div class="form-group col-md-5">
                    <label >Image</label>
                    <input type="file" style="height: 26px; padding:0px" required class="form-control" name="images" accept="image/*">
                </div>
        
                <div class="form-group col-md-3 ">
                    <button type="button" style="width:188px;height:50px;" id="image-body" class="lgn-btn" >Add Image
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            {% endif %}

            {% for option in options %}
            <div class="row mt-4" id="current-option-{{option.id}}">
                {% if optionList %}
                    <div class="form-group col-md-5">
                        <label >Option </label>
                        <input type="text" required class="form-control"  name="options" value="{{option.text}}">
                    </div>
                {% else %}
                    <div class="form-group col-md-5">
                        <label >Image </label>
                        <input type="file" style="height: 26px; padding:0px" required class="form-control"  name="images" accept="image/*">
                    </div>
                {% endif %}
        
                <div class="form-group col-md-3 ">
                    <button type="button" style="width:188px;height:50px;" onclick="removeOption({{option.id}})" class="btn-danger lgn-btn">Remove
                    <i class="fa fa-trash"></i>
                     </button>
                </div>
            </div>
            {% endfor %}

        </div>
    
        <div class="row" id="add-option"></div>

        <br>

        <div class="form-group col-md-3">
            <label for="exampleFormControlSelect1">Do you want your audience to see the result?</label>
            <select class="form-control" id="exampleFormControlSelect1" name="decision">
                {% if poll.is_eligible %}
                <option>Yes</option>
                <option>No</option>
                {% else %}
                <option>No</option>
                <option>Yes</option>
                {% endif %}
            </select>
            </div>
    
        <br>
        
        <div class="form-group col-md-3">
            <label >Add Timer</label>
            <input type="text" required class="form-control" name="timer" value="{{poll.time}}">
        </div>
        
        <br>
        
        
        <button class="btn-success lgn-btn" >Submit
            <i class="fa-solid fa-circle-chevron-right"></i>
        </button>
    
    </div>
    </form>

</div>
</div>

{% endblock %}