{% extends 'poll/semantic.html' %}

{% load static %}

{% block scripts %}
    <script src="{% static '/poll/js/userPoll.js' %}" defer></script> 
{% endblock scripts %}

{% block title %}
{{user.username}} poll list
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/poll/dash.css' %}">
{% endblock %}

{% block content %}

<!-- show all the polls here , implement update and delete feature then will see how it goes -->






<div class="container">

    <div class="ui teal inverted segment">
        <i class="star icon"></i>
        All the polls you created are listed here
        <div class="fas">Total : {{total}}</div>
    </div>

    <div class="items-body">

    {% for poll in polls %}


    <div class="modal fade" id="exampleModal{{poll.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Delete poll</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this poll?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
              
              <a href="{% url 'deletePoll' poll.id %}"><button type="button" class="btn btn-success " >Yes</button></a>
            </div>
          </div>
        </div>
      </div>


            <div class="items-body-content" >
              <span><a href="{% url 'poll-detail' poll.id%}" style="text-decoration: none;">{{poll.question}}</a></span>
              
                

                <div class="align-items-end">
                    <a href="{% url 'userPollDetail' poll.id%}"><i class="fas fa-edit"></i></a>&nbsp;&nbsp;
                    &nbsp;&nbsp;
                    <a
                    data-bs-toggle="modal" 
                    data-bs-target="#exampleModal{{poll.id}}">
                    <i class="fas fa-trash"></i>
                    </a>
                  </div>
            </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
