{% extends 'poll/base.html' %}

{% load static %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
{% endblock scripts %}


{% block title %}
Polls of @{{user.username}}
{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static '/poll/login.css' %}">
<link rel="stylesheet" href="{% static '/poll/dashboard.css' %}">
{% endblock %}




{% block content %}

<div class="dashboard-wrapper">
  <h2 class="sign-in-h2">All of your created poll are listed here</h2>
  <div class="dashboard-main-content">
    <div class="dashboard-poll-list">


      {% for poll in polls %}
      <div class="dashboard-each-poll">
        <a href="{% url 'poll-detail' poll.id%}">{{poll.question}}</a>
        <div class="dashboard-edit-remove-icons">
            <a href="{% url 'userPollDetail' poll.id%}"><i class="fas fa-edit"></i></a>
            <a href="{% url 'deletePoll' poll.id %}"><i class="fas fa-trash"></i></a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="hori"></div>
    <div class="dashboard-chart" style="width:400px; height: 100%;">
      <canvas id="myChart" ></canvas>
    </div>
  </div>
</div>

{% endblock %}

{% block internal_js %}
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ['Total polls created', 'Total votes received', 'Total votes given'],
        datasets: [{
          label: 'Your Poll Related Data',
          data: [{{ total }}, {{ received }}, {{ given }}],
          backgroundColor: [
              'rgb(255, 99, 132)',
              'rgb(54, 162, 235)',
              'rgb(255, 205, 86)'
          ],
          hoverOffset: 4,
    }]
      },
    
  });
  </script>
  
{% endblock %}