{% extends 'poll/base.html' %}
{% load static %}

{% block title %} 
poll detail
{% endblock title %}

{% block scripts %}
    <script src="{% static '/poll/update.js' %}" defer></script> 
{% endblock scripts %}



{% block content %}

<div class="container">
    <div class="text-center">
        <h2>Update Poll</h2>
    </div>
</div>


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="container">
        <div class="form-group col-md-6 " >
            <label> Question </label>
            <input type="text" required class="form-control"  name="question" value="{{poll.question}}">
        </div>
    
    
        <div class="row mt-4">
            
            {% if optionList %}
            <div class="form-group col-md-5">
                <label >Option</label>
                <input type="text" required class="form-control"  name="options" value="{{first.text}}">
            </div>
            {% else %}
            <div class="form-group col-md-5">
                <label >Image</label>
                <input type="file" required class="form-control"  name="images" accept="image/*">
            </div>
            {% endif %}
        </div>
    
    
        <div class="row mt-4">
            
            {% if optionList %}
                <div class="form-group col-md-5">
                    <label >Option</label>
                    <input type="text" required class="form-control"  name="options" value="{{second.text}}">
                </div>
        
                <div class="form-group col-md-3 ">
                    <button type="button" onclick="addOption()" class="btn btn-success mt-4" >Add options</button>
                </div>
            {% else %}
                <div class="form-group col-md-5">
                    <label >Image</label>
                    <input type="file" required class="form-control" name="images" accept="image/*">
                </div>
        
                <div class="form-group col-md-3 ">
                    <button type="button" id="image-body" class="btn btn-success mt-4" >Add Image</button>
                </div>
            {% endif %}

            {% for option in options %}
            <div class="row mt-4" id="current-option-{{option.id}}">
                {% if optionList %}
                    <div class="form-group col-md-5">
                        <label >Option </label>
                        <input type="text" required class="form-control"  name="options" value="{{option.text}}">
                    </div>
                {% else %}
                    <div class="form-group col-md-5">
                        <label >Image </label>
                        <input type="file" required class="form-control"  name="images" accept="image/*">
                    </div>
                {% endif %}
        
                <div class="form-group col-md-3 ">
                    <button type="button" onclick="removeOption({{option.id}})" class="btn btn-danger mt-4" >Remove</button>
                </div>
            </div>
            {% endfor %}

        </div>
    
        <div class="row" id="add-option"></div>
    
        <br>
        
        <div class="form-group col-md-3">
            <label >Add Timer</label>
            <input type="text" required class="form-control" name="timer" value="{{poll.time}}">
        </div>
        
        <br>
        <div class="right menu">
            <p>
                <a class="btn btn-danger" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Delete Poll
                </a>
    
              </p>
              <div class="collapse form-group col-md-5" id="collapseExample">
                <div class="card card-body">
                  Are you sure you want to delete this poll?
                 
    
                  <div class="form-group col-md-3 ">
                    <a href="{% url 'deletePoll' poll.id %}"><button type="button" class="btn btn-success mt-4" >Yes</button></a>
                    <button data-bs-toggle="collapse" href="#collapseExample"  aria-expanded="false" aria-controls="collapseExample" type="button" class="btn btn-danger mt-4" >No</button>
    
                  </div>
                </div>
              </div>
        </div>
        
        


        <br>
    
        &nbsp;<button class="btn btn-primary" >Submit</button>
    
    </div>
    </form>



{% endblock %}