{% extends 'poll/semantic.html' %}


{% load static %}

{% block title %}
poll page
{% endblock title %}

{% block scripts %}
<script src="{% static 'poll/js/detail.js' %}" defer></script> 

{% endblock scripts %}
{% load social_share %}
{% block content %}


<div class="row container-fluid">
   

    <div class="ui labeled button" tabindex="0">
        <div class="ui button">
          <i class="heart icon"></i> Creator
        </div>
        <a class="ui basic label">
            {{poll.user}}
        </a>
      
    <div class="col text-right" id="timer-box">countdown </div>
</div>

<div id="hello"></div>

<h4 class="ui horizontal divider header">
    <i class="chart bar outline icon"></i>
    Poll
  </h4>

<form id="option-form" class="mt-3 mb-3">
    {% csrf_token %}
    
    <div id="option-box"></div>

    {% if visitor or poll_history.is_voted is False%}
    <div class="form-group">
        <div class="radio">
            {% for img in image %}
            <div class="ui form">
                <input type="radio" class="ans" id="{{poll.question}}-{{img.image}}" name="{{poll.question}}" value="{{img.image}}"><img style="height: 200px; width: 200px" src="{{img.image.url}}">
                <label for="{{poll.question}}"></label>
            </div>
            {% endfor %}
        </div> 
    </div>

    
    &nbsp;<button type="submit" class="btn btn-primary mt-3"> save</button>
    <br>
    {% endif %}
    
   
    <br>
    <p>share:</p>
        
    <div class="ui grid ">
        {% post_to_whatsapp object_or_url " " %}
    
        <a href="https://www.facebook.com/sharer/sharer.php?u=https://getpoll.herokuapp.com{{request.path}}">
            <i class="facebook icon"></i>
        </a>
        <br>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://getpolls.herokuapp.com/38&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://getpolls.herokuapp.com/{{request.path}}">
            <i class="linkedin icon"></i>
        </a>
        
        {% post_to_twitter "New Poll: {{poll.question}}. Check it out!" object_or_url " " %}
    </div>

</form>
<div id="score-box"></div>
<div id="result-box"></div>


{% endblock content %}