@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Varela+Round&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
    position: relative;
    min-height: calc(100vh - 70px);
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    /* border: 1px solid black; */
    position: sticky;
    top:0;
    background-color: white;
    border-bottom: 1px solid #ddd;
    z-index: 1;
    padding: 25px 100px;
}
.logo{
    /* border: 1px solid black; */
    font-size: 38px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #132C33;
    cursor: pointer;
    text-decoration: none;
    transition : all 0.1s ease-in-out;
    
}
.logo span{
    margin: 0;
    padding: 0;
    display: inline-block;
    text-decoration: none;
    color: #3cbe6d;
    transform: rotate(-180deg);
    position: relative;
    right: 10px;
    bottom: 3px;
}


.logo:hover{
    opacity: 0.9;
    color: #132C33;
}

.create-poll-background{	
    color: #132C33;	
    font-size: 30px;	
    font-family: 'Montserrat', sans-serif;	
    font-weight: 700;	
    line-height: 60px;	
  	
}

.nav-links-wrapper{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    width: 40%;
}
.nav-links{
    font-size: 17px;
    color: #444444;
    cursor: pointer;
    text-decoration: none;
    font-style: none;
    transition: all 0.3s ease;
    /* border: 1px solid black; */
}
.nav-links-3{
    color: #3cbe6d;
    font-weight: bold;
}

.nav-links:hover{
    opacity: 0.8;
}



.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    width: 20%;
}
.sign{
    font-size: 17px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
}
.in{
    color: #357dd0;
    transition: all 0.3s ease; 
}
.in:hover{
    color: white;
    background-color: #357dd0;
}
.up{
    color: white;
    background-color: #357dd0;
}
.up:hover{
    transform: scale(1.02);
}

.upper-content{
    color: #132C33;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 60px;
    background: url('images/content-background.png');
    background-repeat: no-repeat;
    background-position: right;
}



.upper-content a{
    color: #132C33;
    text-decoration: none;
    border-bottom:  3px solid #ddd;
    /* transition: all 0.1s ease-in-out; */
    /* transition: underline 1s cubic-bezier(0, 0.24, 0.1, 0.84); */
}
.upper-content a:hover{
    opacity: 0.9;
    border-bottom: 5px dotted;
    color: #357DD0;
}

.middle-content{
    /* border: 1px solid black; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #FFB344;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-spacing: 1px;
    padding: 50px 100px;
}
.middle-content span{
    color: #132C33;
}
.p2{
    color: grey;
    font-size: 18px;
    font-weight: normal;
    position: relative;
    top: -25px;
}
.fa-poll{
    font-size: 300px;
    transform: rotate3d(45deg);
    text-shadow: 0 0 5px #FFB344;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: #D8E3E7;
    padding: 0 100px;
    
}

.social-links-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    font-weight: bold;
    
}
.socio{
    font-size: 20px;
    cursor: pointer;
}
.fa-facebook-f{
    color: #4064ac;
}
.fa-instagram{
    color: #D03D99;
}
.fa-twitter{
    color: #1DA1F2;
}

.fa-heart{
    color: #E05D5D;
}
.fab:hover{
    transform: scale(1.05);
}

.card{
    margin: 0 100px;
    font-size: 18px;
    border: 1px solid #ddd;
    padding: 0px 20px;
    height: 70px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: 50px;
    border-radius: 5px;
}
.result-vote{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    cursor: pointer;
}
.result, .vote{
    padding: 10px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    /* cursor: pointer; */
    
}
.result{
    background-color: #41DB7B;
    ;
}
.vote{
    background-color: #357DD0;
}
.result:hover, .vote:hover{
    opacity: 0.9;
    color: white;
    
}
.question{
    font-size: 20px;
}

