{% extends "poll/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static '/poll/login.css' %}">
{% endblock %}
{% block content %}
<div class="lgn-container">
    <div class="lgn-wrapper">
        <h2 class="sign-in-h2">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h2>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p class="para">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a<a href="{{ passwd_reset_url }}" class="goto-signup">new password reset</a>.{% endblocktrans %}</p>
        {% else %}
        <div class="ui grid">
            <div class="ten wide column">
                <form class="ui form" method="POST" action="{{ action_url }}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="lgn-btn" type="submit" name="action">
                        {% trans 'change password' %}
                    </button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>

       
    
{% endblock %}
