{% extends "poll/base.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static '/poll/login.css' %}">
{% endblock %}
{% block content %}

<div class="lgn-container">
  <div class="lgn-wrapper">
    <h2 class="sign-in-h2">{% trans "Sign Up" %}</h2>
    <div class="ui grid">
      <div class="six wide column">
        <form class="signup ui form" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}

          <button class="lgn-btn lgt-btn" type="submit">{% trans "Sign Up" %}
            <i class="fas fa-user"></i>
          </button>
        </form>
      </div>
    </div>
    <a href="{% url 'account_login' %}" class="goto-signup">Already have an account? Then please sign in</a>
  </div>
</div>


{% endblock %}
